@import 'http://localhost:3001/devassets/quilt.css';
/* line 6, ../sass/screen.scss */
body, html {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 9, ../sass/screen.scss */
#wall {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
/* line 15, ../sass/screen.scss */
#wall #faces {
  display: inline-block;
  padding: 1em;
}
/* line 19, ../sass/screen.scss */
#wall #faces .face {
  width: 150px;
  height: 150px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0.7)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  background: linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.75);
  float: left;
  margin: 5px;
  position: relative;
  -webkit-transition: all, 1s ease;
  -moz-transition: all, 1s ease;
  -ms-transition: all, 1s ease;
  -o-transition: all, 1s ease;
  transition: all, 1s ease;
}
/* line 30, ../sass/screen.scss */
#wall #faces .face.hide {
  display: none;
}
/* line 33, ../sass/screen.scss */
#wall #faces .face.highlight {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, color-stop(0%, #08ccf9), color-stop(100%, #0d9cd8));
  background: -webkit-radial-gradient(#08ccf9, #0d9cd8 150px);
  background: -moz-radial-gradient(#08ccf9, #0d9cd8 150px);
  background: -o-radial-gradient(#08ccf9, #0d9cd8 150px);
  background: -ms-radial-gradient(#08ccf9, #0d9cd8 150px);
  background: radial-gradient(#08ccf9, #0d9cd8 150px);
  -webkit-box-shadow: 0 0 40px #0d9cd8;
  -moz-box-shadow: 0 0 40px #0d9cd8;
  box-shadow: 0 0 40px #0d9cd8;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 38, ../sass/screen.scss */
#wall #faces .face .avatar {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
/* line 48, ../sass/screen.scss */
#wall #faces .face .avatar img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}
/* line 53, ../sass/screen.scss */
#wall #faces .face .avatar .janrain-icon-64 {
  margin: 32px;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
/* line 59, ../sass/screen.scss */
#wall #faces .face .profile {
  display: none;
}
/* line 62, ../sass/screen.scss */
#wall #faces .face .mini-message {
  position: absolute;
  bottom: -15px;
  font-weight: 100;
  font-size: .9em;
  width: 100%;
  color: #0D9CD8;
  text-shadow: 0 0 5px #0D9CD8;
  text-align: center;
}
